workflows/topic_pool_generator.json
{
    "name": "Topic Pool Generator",
    "nodes": [
        {
            "parameters": {},
            "id": "start-node",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "topic_request",
                            "value": "={{ $json.topic_request || '10 Panchatantra stories for children' }}"
                        },
                        {
                            "name": "story_origin",
                            "value": "={{ $json.story_origin || 'Indian' }}"
                        },
                        {
                            "name": "target_count",
                            "value": "={{ $json.target_count || 10 }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "set-topic-request",
            "name": "Set Topic Request",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "key",
                            "value": "={{ $env.GOOGLE_GEMINI_API_KEY }}"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are a children's story researcher. Search and find popular stories based on the user's request.\\n\\nFind {{ $json.target_count }} {{ $json.story_origin }} {{ $json.topic_request }}.\\n\\nReturn a JSON array with fields: title, summary (2-3 engaging sentences for children aged 3-8), characters (array), moral, origin_country, difficulty (easy/medium).\\n\\nReturn ONLY a valid JSON array. No additional text.\"\n    }]\n  }],\n  \"tools\": [{\n    \"googleSearch\": {}\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"maxOutputTokens\": 4096\n  }\n}"
            },
            "id": "gemini-search",
            "name": "Search Stories (Gemini)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                680,
                300
            ],
            "notes": "Uses Gemini API with Google Search grounding for story research."
        },
        {
            "parameters": {
                "jsCode": "// Parse the Gemini response and extract stories\nconst response = $input.first().json;\nlet content = '';\n\ntry {\n  content = response.candidates[0].content.parts[0].text;\n} catch (e) {\n  return [{ json: { error: 'No response from Gemini', raw_content: JSON.stringify(response).substring(0, 300) } }];\n}\n\n// Try to extract JSON from the response\nlet stories = [];\n\ntry {\n  // Look for JSON array in the content\n  const jsonMatch = content.match(/\\[\\s*\\{[\\s\\S]*\\}\\s*\\]/);\n  if (jsonMatch) {\n    stories = JSON.parse(jsonMatch[0]);\n  } else {\n    // Try parsing the whole content as JSON\n    stories = JSON.parse(content);\n  }\n} catch (e) {\n  // If parsing fails, create a structured error response\n  return [{\n    json: {\n      error: 'Failed to parse stories',\n      raw_content: content\n    }\n  }];\n}\n\n// Add metadata to each story\nconst timestamp = new Date().toISOString();\nconst enrichedStories = stories.map((story, index) => ({\n  id: `story_${Date.now()}_${index}`,\n  ...story,\n  status: 'pending',\n  created_at: timestamp,\n  topic_request: $('Set Topic Request').first().json.topic_request,\n  origin: $('Set Topic Request').first().json.story_origin\n}));\n\nreturn enrichedStories.map(story => ({ json: story }));"
            },
            "id": "parse-stories",
            "name": "Parse Stories",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "={{ $env.GOOGLE_SHEET_ID }}"
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "name",
                    "value": "Story Pool"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "ID": "={{ $json.id }}",
                        "Title": "={{ $json.title }}",
                        "Summary": "={{ $json.summary }}",
                        "Characters": "={{ $json.characters?.join(', ') || '' }}",
                        "Moral": "={{ $json.moral }}",
                        "Origin": "={{ $json.origin }}",
                        "Difficulty": "={{ $json.difficulty }}",
                        "Status": "={{ $json.status }}",
                        "Created At": "={{ $json.created_at }}",
                        "Script URL": "",
                        "Video URL": "",
                        "Published": "No"
                    },
                    "matchingColumns": []
                },
                "options": {}
            },
            "id": "save-to-sheets",
            "name": "Save to Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                1120,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
                    "name": "Google Sheets OAuth2"
                }
            }
        },
        {
            "parameters": {
                "aggregate": "aggregateAllItemData",
                "options": {}
            },
            "id": "aggregate-results",
            "name": "Aggregate Results",
            "type": "n8n-nodes-base.aggregate",
            "typeVersion": 1,
            "position": [
                1340,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "message",
                            "value": "=Successfully added {{ $json.data.length }} stories to the pool!\n\nStories added:\n{{ $json.data.map((s, i) => `${i+1}. ${s.title}`).join('\\n') }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "format-summary",
            "name": "Format Summary",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3,
            "position": [
                1560,
                300
            ]
        },
        {
            "parameters": {
                "channel": "={{ $env.SLACK_CHANNEL || '#video-pipeline' }}",
                "text": "=📚 *Topic Pool Updated*\n\n{{ $json.message }}",
                "otherOptions": {}
            },
            "id": "notify-slack",
            "name": "Notify Slack",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2,
            "position": [
                1780,
                300
            ],
            "credentials": {
                "slackApi": {
                    "id": "SLACK_CREDENTIAL_ID",
                    "name": "Slack API"
                }
            }
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Set Topic Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Topic Request": {
            "main": [
                [
                    {
                        "node": "Search Stories (Gemini)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search Stories (Gemini)": {
            "main": [
                [
                    {
                        "node": "Parse Stories",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Stories": {
            "main": [
                [
                    {
                        "node": "Save to Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Google Sheets": {
            "main": [
                [
                    {
                        "node": "Aggregate Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Results": {
            "main": [
                [
                    {
                        "node": "Format Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Summary": {
            "main": [
                [
                    {
                        "node": "Notify Slack",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "kids-video-pipeline"
        }
    ],
    "triggerCount": 1,
    "updatedAt": "2026-02-01T15:00:00.000Z",
    "versionId": "1"
}